html,body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "LibreBaskerville-Bold";
  src: url("./font/LibreBaskerville-Bold.ttf");
}

@font-face {
  font-family: "LibreBaskerville-Italic";
  src: url("./font/LibreBaskerville-Italic.ttf");
}
@font-face {
  font-family: "LibreBaskerville-Regular";
  src: url("./font/LibreBaskerville-Regular.ttf");
}

@font-face {
  font-family: "PlayfairDisplay-Bold";
  src: url("./font/PlayfairDisplay-Bold.ttf");
}
@font-face {
  font-family: "PlayfairDisplay-Regular";
  src: url("./font/PlayfairDisplay-Regular.ttf");
}